body {
    background-color: rgb(195, 168, 219);

}

.blogBg {
    color: blue;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    padding: 10px;

}

.title {
    font-size: 3rem;
}
.blogs {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    background-color: rgba(127, 255, 212, 0.4);
    padding: 10px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 6px -6px #777;

    
}

